/* File: css/styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

.main-section {
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-title {
    color: #333;
    border-bottom: #77aaff 2px solid;
    padding-bottom: 5px;
    font-size: 1.5em;
    margin-top: 0;
}

.project-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

/* General link styling */
a {
    color: #77aaff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Specific styles for navigation links */
.nav-link {
    color: #fff;
    font-size: 1.2em;
    margin: 0 10px;
}
.nav-link:hover {
    color: #77aaff;
    text-decoration: none;
}

/* Footer styling */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: auto;
}

/* Input and Button Styling */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Adjust as needed */
    margin-top: 5px;
    font-family: Arial, sans-serif;
    color: #333;
}

button {
    background-color: #77aaff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background-color: #005f99;
}
